{% extends 'base.html.twig' %}

{% block title %}Announce{% endblock %}

{% block body %}
    <h1>Announce</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ announce.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ announce.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ announce.description }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ announce.createdAt ? announce.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ announce.price }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ announce.photo }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ announce.city }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ announce.active ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('annouce_index') }}">back to list</a>

    <a href="{{ path('annouce_edit', {'id': announce.id}) }}">edit</a>

    {{ include('annouce/_delete_form.html.twig') }}
{% endblock %}
