{% extends 'base.html.twig' %}

{% block title %}Announce{% endblock %}

{% block body %}
    <h1>Announce</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ announce.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ announce.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ announce.description }}</td>
            </tr>

            <tr>
                <th>Price</th>
                <td>{{ announce.price }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ announce.photo }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ announce.city }}</td>
            </tr>

        </tbody>
    </table>

    <a href="{{ path('home') }}">back to list</a>

{% endblock %}
